@tailwind base;
@tailwind components;
@tailwind utilities;

.group:hover .group-hover\:border-white {
  border-color: white;
}

.group .group-hover\:transition-all {
  transition: all 500ms ease-in-out;
}

* {
  outline: none;
  text-decoration: none;
}

html {
  background: #050505;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 16px 16px;
  grid-auto-flow: row;
  grid-template-areas:
    "Activities"
    "Profile"
    "Headline"
    "Skills";
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "Activities Profile"
      "Headline Headline"
      "Skills Skills";
  }
}

.Skills {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 16px 16px;
  grid-auto-flow: row;
  grid-template-areas:
    "Skill-1"
    "Skill-2"
    "Bonus";
  grid-area: Skills;
}

@media (min-width: 768px) {
  .Skills {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "Skill-1 Skill-2"
      "Bonus Bonus";
  }
}

.Skill-1 { grid-area: Skill-1; }

.Skill-2 { grid-area: Skill-2; }

.Headline {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 16px 16px;
  grid-auto-flow: row;
  grid-area: Headline;
}

.Bonus {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 16px 16px;
  grid-auto-flow: row;
  grid-template-areas:
    "Bonus-1"
    "Bonus-2"
    "Bonus-3";
  grid-area: Bonus;
}

@media (min-width: 768px) {
  .Bonus {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "Bonus-1 Bonus-2 Bonus-3";
  }
}

.Bonus-1 { grid-area: Bonus-1; }

.Bonus-2 { grid-area: Bonus-2; }

.Bonus-3 { grid-area: Bonus-3; }

.Activities { grid-area: Activities; }

.Profile { grid-area: Profile; }
